a:hover {
	text-decoration: none;
}

li {
	list-style: none;
}

.nav-link {
	color: #999;
}

.StripeElement
{
	box-sizing: border-box;
	height: 40px;
	padding: 10px 12px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: white;
	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

.StripeElement--focus
{
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid
{
	border-color: #fa755a;
}

.StripeElement--webkit-autofill
{
	background-color: #fefde5 !important;
}

.bd-placeholder-img
{
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px)
{
	.bd-placeholder-img-lg
	{
		font-size: 3.5rem;
	}

}

/* stylelint-disable selector-list-comma-newline-after */
.blog-header
{
	line-height: 1;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 1em;
}

.blog-header-logo
{
	font-size: 2.25rem;
}

.blog-header-logo:hover
{
	text-decoration: none;
}

.display-4
{
	font-size: 2.5rem;
}

@media (min-width: 768px)
{
	.display-4
	{
		font-size: 3rem;
	}

}

.nav-scroller
{
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav
{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link
{
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: .875rem;
}

.card-img-right
{
	height: 100%;
	border-radius: 0 3px 3px 0;
}

.flex-auto
{
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.h-250
{
	height: 250px;
}

@media (min-width: 768px)
{
	.h-md-250
	{
		height: 250px;
	}

}

/* Pagination */
.blog-pagination
{
	margin-bottom: 4rem;
}

.blog-pagination > .btn
{
	border-radius: 2rem;
}

/*    * Blog posts    */
.blog-post
{
	margin-bottom: 4rem;
}

.blog-post-title
{
	margin-bottom: .25rem;
	font-size: 2.5rem;
}

.blog-post-meta
{
	margin-bottom: 1.25rem;
	color: #999;
}

/*    * Footer    */
.blog-footer
{
	padding: 2.5rem 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child
{
	margin-bottom: 0;
}
